
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

.menu {
    list-style: none;
    text-align: center;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.menu li a:hover {
    color: #f39c12;
}


.logo {
    width: 150px;
    margin: 20px auto;
    display: block;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}


li p {
    font-size: 1.2rem;
    margin: 10px 0;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #f39c12;
}

ul.menu {
    margin-top: 20px;
    text-align: center;
}
