.main-element {

    position: sticky;
    left: 10px;
    bottom: 10px;
    background-color: pink;
    padding: 10px;
     top: 10px;

}
.parent-element{
    position: relative;
    height: 100px;
    padding: 50px 10px;
    background-color: deeppink;
}

.sibling-element {
    padding: 10px;
    background-color: palevioletred;
    border: 1px solid purple;
}
    

html{
    height: 800px;
} 